/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden-heading {
    display: none;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #252525;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.black-text {
    color: #252525;
}
.center {
    text-align: center;
}

/* Header */
header {
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 2px #f1eded;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    border-bottom: 2px solid #252525;
}

/* Navbar Styles */
#menu {
    list-style-type: none;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#nav-toggle-label {
    font-size: 2rem;
}

/*Main Content Styles */
main {
    margin-top: 67px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-left: 5px;
    margin-right: 5px;
}

/* Hero Styles */
#hero {
    background: url('../images/hero.webp') no-repeat center center / cover;
    height: 600px;
    width: 100%;
    position: relative;
}

#hero-cover-text {
    /* final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(214, 60, 129, 0.7);
    font-size: 100%;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-right: 10px;
}

#hero-cover-text>h2,
#hero-cover-text>h3 {
    color: #ffffff;
}

#menu-button {
    display: inline-block;
    background-color: #F21277ff;
    color: #F0F4F7ff;
    border: solid, 1px, rgb(192, 17, 96);
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 6px;
    box-shadow: .5rem .5rem #a596a2;
}

#selling-points {
    display: flex;
    flex: wrap;
}

#selling-points div {
    color: #252525;
    padding: 15px;
    text-align: center;
    flex-basis: 33.333%;
}

#information {
    display: flex;
    flex: wrap;
}

#information div {
    color: #252525;
    padding: 15px;
    text-align: center;
    flex-basis: 50%;
}


/*Menu Page Syles */
#menu-header {
    background: url('../images/hero.webp') no-repeat center center / cover;
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-header-text {
    background-color: rgba(214, 60, 129, 0.9);
    font-size: 180%;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

#menu-header-text h1,
h2,
h3 {
    color: #ffffff;
}

/* Menu Page - Flavors Menu Section */
#flavor-menu {
    /* handles resonsivity without the need for a media query */
    display: flex;
    flex-wrap: wrap;
    border: 10px solid rgba(214, 60, 129, 0.7);
}

#flavor-menu div {
    color: #252525;
    padding: 25px;
    text-align: center;
    flex: 1 0 50%;
    /* create border around each flavor block */
    border: 10px solid rgba(214, 60, 129, 0.7);
}

#flavor-menu h2 {
    /* override the heading color set in general styles */
    color: #252525;
}

#flavor-menu img {
    border-radius: 20px;
    text-align: center;
    width: 100%;
    height: auto;
    max-width: 201.22px;
    max-height: 170.05px;
}

#price-list div {
    text-align: center;
}


/* Contact Us Page */
#contact {
    background: url("../images/hero.webp") 75% / cover;
    padding: 10px 5% 0 5%;
    display: flex;
    flex-wrap: wrap;
}

#contact div{
    padding: 25px;
    text-align: left;
    justify-content: space-between;
    flex: 1 0;
}

#map-container {
    width: 100%;
    height: 250px;
}
#map {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    overflow: auto;
}

#find-us {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#contact-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#contact-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    border: 1px solid #fafafa;
    border-radius: 2px;
    height: 25px;
    margin: 5px 0 20px 0;
    padding: 0 5px;
}


.submit-button {
    background-color: #454b1b;
    color: #fafafa;
    font-size: 100%;
    margin-top: 20px;
    padding: 15px 32px;
    border-radius: 2px;
}


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 2rem;
    }

    #nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
    }

    /* Main Content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 86px;
    }

    #hero-cover-text {
        font-size: 120%;
        width: 400px;
        right: 50px;
    }

    /* Menu Page */

    #menu-header {
        height: 400px;
    }

    #menu-header-text {
        font-size: 220%;

    }

    #flavor-menu div {
        flex: 1 0 33.333%;
    }

    #price-list {
        display: flex;
        flex: wrap;
    }

    #price-list div {
        color: #252525;
        padding: 15px;
        text-align: center;
        flex-basis: 33.333%;
    }


}

/* Media query: Larger devices - laptops & desktops (992px and up) */
@media screen and (min-width: 992px) {
    #flavor-menu div {
        flex: 1 0 25%;
    }
}