/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden-heading {
    display: none;
}

/* General Styles */
/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #252525;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header */
header {
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 2px #f1eded;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    border-bottom: 2px solid #252525;
}

